body {
    margin: 0;
    padding: 0;
    width: 100%;
}
* {
    box-sizing: border-box;
}
.fix-one {
    height: 400px;
    background-color: black;
    position: relative;
    background-image: url('./img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.word-one {
    position: absolute;
    width: 100%;
    height: 100px;
    margin-top: 150px;
    
}
.word-two {
    color:cornsilk;
    margin:0 ;
    text-align: center;
    font-weight: bold;
}
.search {
    margin-top: 270px;
    margin-left: 310px;
    position: absolute;
}
form {
    font-size: 0;
}
input[type=text] {
    width: 600px;
    border: 2px solid cornsilk;
    font-size: 16px;
    background-color:cornsilk;
    background-image: url('./img/72.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
  }
  .buttony {
    padding: 10px 20px 11px 40px;
    background-color:cornsilk;
    box-shadow: 0 10px 10px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
    border: 2px solid cornsilk;
    font-size: 16px;
    color: grey;
    margin-right: 40px;
    text-decoration: none;
  }
.fix-two {
    height: 400px;
    background-color: burlywood;
}
.fix-three {
    height: 400px;
    background-color: cornsilk;
}
.fix-four{
    height: 400px;
    background-color: darkgoldenrod;
}
.footer {
    height: 200px;
    background-color: black;
}

/* constituency part */


/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: red;}
  #News {background-color: green;}
  #Contact {background-color: blue;}
  #About {background-color: orange;}














@media (max-width: 600px){
    section {
        width: 100%;
        height: auto;
    }
}