body {
    margin: 0;
    padding: 0;
    width: 100%;
}
* {
    box-sizing: border-box;
}
.fix-one {
    height: 400px;
    background-color: black;
    position: relative;
    background-image: url('./img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.word-one {
    position: absolute;
    width: 100%;
    height: 100px;
    margin-top: 150px;
    
}
.word-two {
    color:cornsilk;
    margin:0 ;
    text-align: center;
    font-weight: bold;
}
.search {
    margin-top: 270px;
    margin-left: 310px;
    position: absolute;
}
form {
    font-size: 0;
}
input[type=text] {
    width: 600px;
    border: 2px solid cornsilk;
    font-size: 16px;
    background-color:cornsilk;
    background-image: url('./img/72.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
  }
  input[type=submit] {
    padding: 10px 20px 10px 30px;
    background-color:cornsilk;
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.18);
    border: 2px solid cornsilk;
    font-size: 16px;
    color: grey;
    margin-right: 40px;
  }
.fix-two {
    height: 400px;
    background-color: burlywood;
}
.fix-three {
    height: 400px;
    background-color: cornsilk;
}
.fix-four{
    height: 400px;
    background-color: darkgoldenrod;
}
.footer {
    height: 200px;
    background-color: black;
}
















@media (max-width: 600px){
    section {
        width: 100%;
        height: auto;
    }
}